src/main/java/com/roma/elettorale/fascicoli/entity/veri/TipiBase.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://tempuri.org/TipiBase.xsd" xmlns:mstns="http://tempuri.org/TipiBase.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/TipiBase.xsd" elementFormDefault="unqualified" attributeFormDefault="unqualified" id="TipiBase">
	<xs:complexType name="IndirizzoAIREAnagType">
		<xs:sequence>
			<xs:element name="Indirizzo" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CAP" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CodComune" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DenominazioneComune" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Consolato" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PraticaOriundo">
		<xs:complexContent>
			<xs:extension base="BasePraticaCRAB">
				<xs:sequence>
					<xs:element name="CodiceIndiv" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Progressivo" type="xs:string" minOccurs="0" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BasePersonaAnag">
		<xs:sequence>
			<xs:element name="Progressivo" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CodiceIndiv" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CodiceFis" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NomeIndiv" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Cognome" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Sesso" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="FlagVR" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CodFam" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataNasc" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CodComNasc" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DescComNas" type="xs:string" minOccurs="0" nillable="true" />
			<!-- I successivi due campi sono stati aggiunti in data 07/07/2010 per gestione esito e motivazione-->
			<!--<xs:element name="EsitoCompAcc" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="MotivoEsitoCompAcc" type="xs:string" minOccurs="0" nillable="true" />-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasePersonaInFamigliaAnag">
		<xs:complexContent>
			<xs:extension base="BasePersonaAnag">
				<xs:sequence>
					<xs:element name="RapportoParentela" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttestatoDiSoggiorno">
		<xs:sequence>
			<xs:element name="TipoRec" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CodiceIndiv" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NrAttestato" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataRilascio" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="TitFam" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CodiceIndFam" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NrAttestatoFam" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="EsitoComp" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseOperazioneUtenteAnag">
		<xs:sequence>
			<xs:element name="Username" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Data_operazione" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Operazione" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseConvivenza">
		<xs:sequence>
			<xs:element name="FlagFamConv" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DesConvivenza" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseMessaggioAnag">
		<xs:sequence>
			<xs:element name="Codice" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Livello" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Descrizione" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseDatiUnlock">
		<xs:sequence>
			<xs:element name="TipoPratica" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="UserSblocca" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DipUserSblocca" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasePraticaCRAB">
		<xs:sequence>
			<xs:element name="AnnoPratica" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NumeroPratica" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="StatusPratica" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasePraticaCRABTipo">
		<xs:complexContent>
			<xs:extension base="BasePraticaCRAB">
				<xs:sequence>
					<xs:element name="TipoPratica" type="xs:string" minOccurs="0" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonaInPraticaCRAB">
		<xs:complexContent>
			<xs:extension base="BasePersonaAnag">
				<xs:sequence minOccurs="0">
					<xs:element name="StatusPersona" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Descrizione" type="xs:string" minOccurs="0" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DatiGeneraliPraticaCRE">
		<xs:complexContent>
			<xs:extension base="BasePraticaCRAB">
				<xs:sequence>
					<xs:element name="DataPratica" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="PraticaImm" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="DataPraticaImm" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Conteggio" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="DataEmigrazione" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Istanza" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Componenti" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Richiesta" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="NotePratica" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="InvioComune" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="IndirizzoAIRE" type="IndirizzoAIREAnagType" minOccurs="0" nillable="true" />
					<xs:element name="IntestatarioSchedaAIRE" type="BasePersonaAnag" minOccurs="0" nillable="true" />
					<xs:element name="DataCirConsAIRE" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="AnnoRif" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="PersInPratica" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Manuale" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Descrizione" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="MotivoRiapertura" minOccurs="0" nillable="true" type="xs:string" />
					<xs:element name="NoteRiapertura" minOccurs="0" nillable="true" type="xs:string" />
					<xs:element name="DataIstanza" minOccurs="0" nillable="true" type="xs:string" />
					<xs:element name="NumeroIstanza" minOccurs="0" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Lista">
		<xs:attribute name="da" />
		<xs:attribute name="a" />
		<xs:attribute name="totale" />
	</xs:complexType>
	<xs:complexType name="DatiGeneraliPraticaCDF">
		<xs:complexContent>
			<xs:extension base="BasePraticaCRAB">
				<xs:sequence>
					<xs:element name="DataPratica" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="CodCirc" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="SedeCirc" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="DataCambio" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Istanza" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Componenti" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="NotePratica" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="NuovoIndirizzo" type="BaseIndirizzoType" minOccurs="0" nillable="true" />
					<xs:element name="IntestatarioScheda" type="BasePersonaAnag" minOccurs="0" nillable="true" />
					<xs:element name="AnnoPraticaColl" minOccurs="0" nillable="true" />
					<xs:element name="PraticaCollegata" minOccurs="0" nillable="true" />
					<xs:element name="TuttaFamiglia" minOccurs="0" nillable="true" />
					<xs:element name="RapportoParentelaRichiedente" minOccurs="0" nillable="true" />
					<xs:element name="DocumentoRichiedente" minOccurs="0" nillable="true" />
					<xs:element name="Dichiarante" type="BasePersonaAnag" minOccurs="0" nillable="true" />
					<xs:element name="CodiceVecchiaFamiglia" minOccurs="0" nillable="true" />
					<xs:element name="CodiceNuovaFamiglia" minOccurs="0" nillable="true" />
					<xs:element name="FlagFamConNew" minOccurs="0" nillable="true" />
					<xs:element name="FlagSFD" minOccurs="0" nillable="true" />
					<xs:element name="FlagIndValido" minOccurs="0" nillable="true" />
					<xs:element name="FlagAltreFam" minOccurs="0" nillable="true" />
					<xs:element name="FlagEntrataFam" minOccurs="0" nillable="true" />
					<xs:element name="FlagInFamiglia" minOccurs="0" nillable="true" />
					<xs:element name="PersInPratica" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="MotivoRiapertura" minOccurs="0" nillable="true" type="xs:string" />
					<xs:element name="NoteRiapertura" minOccurs="0" nillable="true" type="xs:string" />
					<xs:element name="DataIstanza" minOccurs="0" nillable="true" type="xs:string" />
					<xs:element name="NumeroIstanza" minOccurs="0" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonaCRI">
		<xs:complexContent>
			<xs:extension base="PersonaInPraticaCRAB">
				<xs:sequence>
					<xs:element name="ReiscComp" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="EsitoAccerComp" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="AttoNascita" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="ParteNascita" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="SerieNascita" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="EspNascita" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="AnnoAttoN" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="TipoComuneAttoN" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="ComuneAttoN" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="DComuneAttoN" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Padre" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Madre" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Cittadinanza" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Nazionalita" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="StatoCivile" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Rappar" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Professione" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="PosizioneProf" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Attivita" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="CondizioneProf" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="TStudio" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="FlagFiltro" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="FlagOmonimia" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Motivo" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="FlagCitt" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="FlagOri" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="DesNazionalita" type="xs:string" minOccurs="0" nillable="true" />
				</xs:sequence>
				<xs:attribute name="FlagFDV" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonaInPraticaCRE">
		<xs:complexContent>
			<xs:extension base="PersonaInPraticaCRAB">
				<xs:sequence>
					<xs:element name="CodPos" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="CodNPos" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="CodSett" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="TipConf" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="EsitoAcc" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="NumProt" type="xs:string" minOccurs="0" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonaInPraticaCDF">
		<xs:complexContent>
			<xs:extension base="PersonaInPraticaCRAB">
				<xs:sequence>
					<xs:element name="Rappar" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element minOccurs="0" form="unqualified" name="Pagina" type="xs:string" />
					<xs:element name="EsitoCompAcc" type="xs:string" />
					<xs:element name="MotivoEsitoCompAcc" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseRichiestaType">
		<xs:sequence>
			<xs:element name="IdPratica" type="BasePraticaCRAB" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseRichiestaPagingType">
		<xs:sequence>
			<xs:element name="Paging">
				<xs:complexType>
					<xs:attribute name="da" />
					<xs:attribute name="per" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseRichiestaPraticaPagingType">
		<xs:sequence>
			<xs:element name="Paging">
				<xs:complexType>
					<xs:attribute name="da" />
					<xs:attribute name="per" />
				</xs:complexType>
			</xs:element>
			<xs:element name="IdPratica" type="BasePraticaCRAB" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseRispostaType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Messaggio" type="BaseMessaggioAnag" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListaCodiciIndividuali">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="CodiceIndiv" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasePatenteANAGType">
		<xs:sequence>
			<xs:element name="NumeroPat" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Categoria" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DescCategoria" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="EnteRil" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DescEnte" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataRil" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="StatusPat" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="ComuRil" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DescComRil" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseTargaAnagType">
		<xs:sequence>
			<xs:element name="TipVeicolo" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="TargaVeicolo" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DescTipo" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasePagingType">
		<xs:attribute name="da" type="xs:string" />
		<xs:attribute name="per" type="xs:string" />
		<xs:attribute name="element" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="BaseIndirizzoType">
		<xs:sequence>
			<xs:element name="CodVia" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NomeVia" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Civ" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="TipoCiv" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Lett" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Esp" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Piano" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Lotto" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Palaz" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Scala" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Interno" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="IndirizzoNonStandard" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="IndirizzoDecodif" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseDatiAnnullamentoPraticaCrab">
		<xs:sequence>
			<xs:element name="DataAnnullamento" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NoteAnnull" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseRicercaPrecisaType">
		<xs:sequence>
			<xs:element name="Nome" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="Valore" type="xs:string" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<!-- Documenti -->
	<xs:complexType name="BasePensioneAnagType">
		<xs:sequence>
			<xs:element name="NumeroPen" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CategoriaPen" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DescCategoriaPen" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Ente" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DescEntePen" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Sede" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DescSede" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataPen" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="TipoBD" type="xs:string" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseLibrettoDiLavoroAnagType">
		<xs:sequence>
			<xs:element name="NumeroLib" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataLib" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Modalita" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CodComuneLib" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DescComuneLib" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseCartaIdentitaAnagType">
		<xs:sequence>
			<xs:element name="TipoCarta" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NumeroCarta" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Espatrio" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataRil" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CodComuneRil" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DescComuneRil" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Consolato" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DescConsolato" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataScad" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasePermessoSoggiornoAnagType">
		<xs:sequence>
			<xs:element name="TipoPermesso" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Permesso" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CodQuestura" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DesQuestura" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataRil" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataRinn" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataScad" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataRichNuovo" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<!--Pratiche di stato Stato Civile-->
	<xs:complexType name="IdAttoStatoCivile">
		<xs:sequence>
			<xs:element name="AnnoSs" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NumeroSs" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="ParteSs" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="SerieSs" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="EspSs" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="TipoComAttoSs" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CodComAttoSs" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DesComAttoSs" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseEventoStatoCivileType">
		<xs:complexContent>
			<xs:extension base="IdAttoStatoCivile">
				<xs:sequence>
					<xs:element name="DataEvtSs" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="CodComEvtSs" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="DesComEvtSs" type="xs:string" minOccurs="0" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseMatrimonioType">
		<xs:complexContent>
			<xs:extension base="BaseEventoStatoCivileType">
				<xs:sequence>
					<xs:element name="SceltaPat" type="xs:string" minOccurs="0" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseDivorzioType">
		<xs:complexContent>
			<xs:extension base="IdAttoStatoCivile">
				<xs:sequence>
					<xs:element name="TipoSentenza" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="DelDella" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="Autorita" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="DataSentenza" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="TipoAutorita" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="DelDellaAut" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="AutoritaAut" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="DataSentenzaAut" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="DataTimbro" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="DataTrascrizione" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="DataRicorso" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="AutoritaRicorso" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="TipoRicorso" type="xs:string" minOccurs="0" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseDecessoType">
		<xs:complexContent>
			<xs:extension base="BaseEventoStatoCivileType">
				<xs:sequence>
					<xs:element name="CodComResDec" type="xs:string" minOccurs="0" nillable="true" />
					<xs:element name="DesComResDec" type="xs:string" minOccurs="0" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Circolari-->
	<xs:complexType name="BaseCircolare16AnagType">
		<xs:sequence>
			<xs:element name="TipoDoc" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NumeroDoc" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataRich" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="FlagRicQuest" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="FlagRicUffPost" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="ContrSoggSportImm" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="RichPermSogg" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NullaOstaRicong" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseCircolare19TitolareAnagType">
		<xs:sequence>
			<xs:element name="TipoDoc" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NumeroDoc" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="AttLavor" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="AttRisEconLb" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="AssSanit" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="IscrIstituto" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="TitolAss" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="AttRisEconLc" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="RicCartSoggQ" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="RicCSoggP" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="RicRinPermQ" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="RicRinPermP" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="PermSoggValScad" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseCircolare19FamiliareAnagType">
		<xs:sequence>
			<xs:element name="TipoDoc" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NumeroDoc" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DocFamilUe" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DocACaricoUe" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DocGenItal" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NrAttestFam" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CodIndTitolare" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CognTit" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NomeTit" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataNasTit" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="SessoTit" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatiPratica">
		<xs:sequence>
			<xs:element name="AnnoPratica" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NumeroPratica" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NotePratica" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataDefinizione" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataConsolare" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="FlgStep" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="StatusPratica" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseSoggiornoAltroComuneType">
		<xs:sequence>
			<xs:element name="FlagFamTit" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="TipoAtt" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NrAttest" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Flag_AttestRoma" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataRil" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CodComRil" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DesComRil" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<!-- start tipi base estrazioni -->
	<xs:complexType name="EstrazionePraticheRequest">
		<xs:sequence>
			<xs:element name="Scelta" type="xs:string" minOccurs="0" form="unqualified" />
			<xs:element name="DataRicDa" type="xs:string" minOccurs="0" form="unqualified" />
			<xs:element name="DataRicA" type="xs:string" minOccurs="0" form="unqualified" />
			<xs:element name="UteRic" type="xs:string" minOccurs="0" form="unqualified" />
			<xs:element name="FlagTipo" type="xs:string" minOccurs="0" form="unqualified" />
		</xs:sequence>
		<xs:attribute name="da" type="xs:string" />
		<xs:attribute name="per" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="DatiStatisticaAttestatiResponse">
		<xs:sequence>
			<xs:element name="Tipo" type="xs:string" />
			<xs:element name="Data" type="xs:string" />
			<xs:element name="Totale" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EstrazPratComuneEmigrazRequest">
		<xs:sequence>
			<xs:element name="CodiceComune" type="xs:string" minOccurs="0" form="unqualified" />
			<xs:element name="DataPratica" type="xs:string" minOccurs="0" form="unqualified" />
			<xs:element name="Scelta" type="xs:string" minOccurs="0" form="unqualified" />
		</xs:sequence>
		<xs:attribute name="da" type="xs:string" />
		<xs:attribute name="per" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="EstrazionePraticheResponse">
		<xs:sequence>
			<xs:element name="DataOperaz" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="AnnoPratRic" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="NumeroPratRic" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="DataPratRic" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="StatusPratRic" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="CodComune" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="DesComune" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="CapComune" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="ConomeComp" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="UltimoUser" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="DataIniVal" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="DataInvAcc" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="DataRitAcc" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="DataInvCom" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="DataRitCom" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="DichiarPrat" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="TotRitr" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="GiorniManc" type="xs:string" form="unqualified" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EstrazioniPraticheNonDefiniteResponse">
		<xs:sequence>
			<xs:element name="APrt" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="NPrt" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="DtPrt" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="Status" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="DtEv" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="NPers" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="CodCom" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="DesCom" type="xs:string" form="unqualified" minOccurs="0" />
			<xs:element name="UlUse" type="xs:string" form="unqualified" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EstrazioniPraticheNonDefiniteRequest">
		<xs:sequence>
			<xs:element name="AnnoPratica" form="unqualified" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NumeroPraticaDA" type="xs:string" form="unqualified" minOccurs="0" nillable="true" />
			<xs:element name="NumeroPraticaA" type="xs:string" form="unqualified" minOccurs="0" nillable="true" />
		</xs:sequence>
		<xs:attribute name="da" type="xs:string" />
		<xs:attribute name="per" type="xs:string" />
	</xs:complexType>
	<!-- end tipi base estrazioni -->
	<!-- start tipi base stampa -->
	<xs:complexType name="OpzioniStampa">
		<xs:sequence>
			<xs:element name="Anteprima" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="Copie" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="NumberRow" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseMultipleCall">
		<xs:sequence>
			<xs:element name="Recall" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="NumberRow" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatiGenericiStampaCRE">
		<xs:sequence>
			<xs:element name="DataInvio" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="DataCirCons" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="NotePratica" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="DataPratica" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="DataDefinizione" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="Utente" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatiGenericiStampaCDF">
		<xs:sequence>
			<xs:element name="DataRichiesta" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="InvioRicorso" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="DataDefinizione" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="UtenteRic" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="AnnoPraticaRic" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatiGenericiStampaCRI">
		<xs:sequence>
			<xs:element name="DataRichiesta" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="InvioRicorso" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="DataDefinizione" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="UtenteRic" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="AnnoPraticaRic" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<!-- end tipi base stampa -->
	<xs:complexType name="BaseDettaglioPraticaRespCRE">
		<xs:sequence>
			<!--<xs:element name="ProgUs" type="xs:string" minOccurs="0" nillable="true"/>-->
			<xs:element name="DtOp" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="APrt" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NPrt" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DtPrt" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="StatPr" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="CapCom" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DesCom" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseDettaglioUserRespCRE">
		<xs:sequence>
			<xs:element name="ProgPrat" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Sesso" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Cognome" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Nome" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataNascita" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Esito" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatiGeneraliRap">
		<xs:complexContent>
			<xs:extension base="BasePraticaCRAB">
				<xs:sequence>
					<xs:element name="TipoOperazione" type="xs:string" minOccurs="0" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UtentePraticaCRE">
		<xs:sequence>
			<xs:element name="UltUs" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="TotRitr" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="ProgUs" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Dettaglio" type="BaseDettaglioPraticaRespCRE" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RigaPraticaCRE">
		<xs:sequence>
			<xs:element name="AnnoPratica" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NumeroPratica" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataPratica" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Protocollo" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Status" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="DataDefinizione" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="PraticaCollegata" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="TotRitr" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="ProgPrat" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="Dettaglio" type="BaseDettaglioUserRespCRE" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatiRicercaPerMunicipioRequest">
		<xs:sequence>
			<xs:element name="MunicipioRic" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="SedeRic" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="TipoOrd" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatiRicercaPerMunicResponse">
		<xs:sequence>
			<xs:element name="Nominativo" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="AnnoPratica" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="NumeroPratica" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="StatusPratica" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseDatiPaginazione">
		<xs:sequence>
			<xs:element name="da" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="a" type="xs:string" minOccurs="0" nillable="true" />
			<xs:element name="totale" type="xs:string" minOccurs="0" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatiNotificaAnnullStampa">
		<xs:sequence>
			<xs:element name="Osservazioni" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="IndirizzoProvenienza" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="CapProvenienza" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="TestoMotivazione" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
			<xs:element name="TestoSoluzione" type="xs:string" minOccurs="0" form="unqualified" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatiUtentePDUL">
		<xs:sequence>
			<xs:element name="Utente" type="xs:string" />
			<xs:element name="Nome" type="xs:string" />
			<xs:element name="Cognome" type="xs:string" />
			<xs:element name="Municipio" type="xs:string" />
			<xs:element name="Data" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>