src/main/resources/wsdl/OpenTiWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="CallMapperWebMethod">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Logon" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Dept" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Servizio" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Env" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="MAPPERES" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="RemotHost" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ServiceName" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="CallMapperWebMethodResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="CallMapperWebMethodResult" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="Dati" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="TPURCODE" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="CallMapperWebMethodSoapIn">
<wsdl:part name="parameters" element="tns:CallMapperWebMethod"/>
</wsdl:message>
<wsdl:message name="CallMapperWebMethodSoapOut">
<wsdl:part name="parameters" element="tns:CallMapperWebMethodResponse"/>
</wsdl:message>
<wsdl:portType name="IntegrationSmartSoap">
<wsdl:operation name="CallMapperWebMethod">
<wsdl:input message="tns:CallMapperWebMethodSoapIn"/>
<wsdl:output message="tns:CallMapperWebMethodSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IntegrationSmartSoap" type="tns:IntegrationSmartSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="CallMapperWebMethod">
<soap:operation soapAction="http://tempuri.org/CallMapperWebMethod" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="IntegrationSmartSoap12" type="tns:IntegrationSmartSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="CallMapperWebMethod">
<soap12:operation soapAction="http://tempuri.org/CallMapperWebMethod" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IntegrationSmart">
<wsdl:port name="IntegrationSmartSoap" binding="tns:IntegrationSmartSoap">
<soap:address location="http://10.173.9.240/OpenTIWS/IntegrationSmart.asmx"/>
</wsdl:port>
<wsdl:port name="IntegrationSmartSoap12" binding="tns:IntegrationSmartSoap12">
<soap12:address location="http://10.173.9.240/OpenTIWS/IntegrationSmart.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>